body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background: #f5f7fb;
  font-family: "Karla", sans-serif;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob {
  background-color: red;
  width: 35vw;
  height: 20vw;
  position: absolute;
  right: -5vw;
  top: -5vw;
  background: #fffad1;
  border-radius: 100%;
  z-index: -1;
}

.blob-2 {
  background-color: red;
  width: 35vw;
  height: 20vw;
  position: absolute;
  left: -5vw;
  bottom: -5vw;
  background: #deebf8;
  border-radius: 100%;
  z-index: -1;
}
